body {
  --twitter-color: #50b7f5;
  --twitter-background: #e6ecf0;
}

.app {
  display: flex;
  height: 100vh;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}

.center-block {
  flex: 1;
  border-left: 1px solid #eff3f4;
  border-right: 1px solid #eff3f4;
  min-width: 600px;
  max-width: 600px;
}

@media screen and (max-width:688px) {
  .app {
    display: block;
  }
}