.feed {
    flex: 0.4;
    border-right: 1px solid var(--twitter-background);
    min-width: fit-content;
    overflow-y: scroll;
  }
  
  .feed::-webkit-scrollbar {
    display: none;
  }
  
  .feed__header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    border: 1px solid var(--twitter-background);
    padding: 15px 20px;
  }
  
  .feed__header>h2 {
    font-size: 20px;
    font-weight: 800;
  }

  .feed-tabs {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #333;
  margin-bottom: 10px;
}

.tab {
  flex: 1;
  padding: 12px;
  font-size: 16px;
  color: black;
  background: transparent;
  border: none;
  cursor: pointer;
}

.tab.active {
  border-bottom: 3px solid #1DA1F2;
  font-weight: bold;
}
