.forgot-container {
    display: flex;
    flex: 1;
    width: 100vw;
}

.form-container {
    flex: 1;
    padding: 50px;
    margin: 10px;
    align-content: center;
}

.form-box {
    justify-content: left;
    align-items: inherit;
    grid-row: auto;
}

.Twitter-img {
    color: skyblue;
    max-width: 50%;
}

.heading,
h1 {
    font-size: 50px;
}

.sub-heading,
h3 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
}

.image-container {
    flex: 2;
    margin-left: -100px;
}

.image {
    max-width: 100%;
    height: 100%;
}

input {
    display: grid;
    margin-bottom: 1px;
    padding: 5px;
    background-color: white;
    margin-top: 20px;
}
.forgotpassword-email {
    background-color: #E8F0FE;
    width: 48%;
    border-radius: 8px;
    padding: 14px;
    border: none;
    outline: none;
}

.btn-reset {
    background-color: rgb(92, 199, 241);
    width: 50%;
    padding: 14px;
    border-radius: 8px;
    font-size: 17px;
    border: none;
    outline: none;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.btn-reset:hover {
    background-color: rgb(72, 180, 230);
    transition: 0.3s ease-in-out;
}

.back-login {
    font-size: 16px;
    margin-top: 10px;
}

.back-login a {
    text-decoration: none;
    color: rgb(92, 199, 241);
    font-weight: 400;
}

.errorMessage {
    color: red;
    font-weight: 500;
    margin: 10px 0;
}

.successMessage {
    color: green;
    font-weight: 500;
    margin: 10px 0;
}

@media screen and (max-width: 688px) {
    .forgot-container {
        order: 2;
        display: flex;
        flex-direction: column;
        font-size: 20px;
    }

    .form-container {
        padding: 10px;
    }

    .image-container {
        width: 100%;
        vertical-align: text-bottom;
        display: flex;
        flex-direction: column-reverse;
        order: 1;
        max-width: 100%;
        width: 100%;
    }

    .image {
        order: 2;
        width: 100%;
        height: 100%;
        margin-left: 100px;
    }
}
