.arrow-icon {
    margin: 10px;
    cursor: pointer;
  }

  .arrow-icon:hover {
    color: var(--twitter-color);
  }

  .coverImage {
    height: 200px;
    width: 600px;
  }

  .coverImageContainer {
    position: relative;
  }

  .hoverCoverImage {
    position: absolute;
    top: 0%;
    background-color: rgba(0, 0, 0, 0.603);
    width: 100%;
    height: 98%;
    opacity: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hoverCoverImage:hover {
    opacity: 100%;
  }

  .photoIcon {
    color: white;
    font-size: 35px !important;
    opacity: 40%;
    margin-right: 20px;
    cursor: pointer;
  }

  .photoIcon:hover {
    opacity: 100%;
  }

  .photoIconDisabled {
    cursor: not-allowed;
  }

  .userInfo {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .heading-4 {
    margin-top: -40px;
    font-size: 19px;
    margin-left: 50px;
    margin-bottom: 10px;
    justify-content: space-between;
  }

  .heading-3 {
    margin-left: 20px;
    font-size: 24px;
  }

  .usernameSection {
    margin-left: 20px;
    color: darkgrey;
  }

  .mainprofile {
    background-color: rgb(207, 206, 206);
    margin-top: 0;
    border: 1 px solid white;
    height: 100%;
  }

  .profile-bio {
    height: 100px;
  }

  .avatarContainer {

   /* margin-top: -80px; */

    margin-left: 20px;
    border-radius: 100%;
    position: relative;
    height: 150px;
    width: 150px;
    border: 4px solid white;
  }

  .avatar {
    position: relative;
    width: 100%;
    height: 98%;
    border-radius: 100%;
  }

  .hoverAvatarImage {
    position: absolute;
    top: 0%;
    background-color: rgba(0, 0, 0, 0.603);
    width: 100%;
    height: 98%;
    border-radius: 100%;
    opacity: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hoverAvatarImage:hover {
    opacity: 100%;
  }

  .Edit-profile-btn {
    background-color: white;
    padding: 10px;
    border: 1px solid;
    border-radius: 2rem;
    margin-right: 20px;
  }

  .Edit-profile-btn:hover {
    background-color: rgb(207, 206, 206);
  }

  .Tweet {
    background-color: white;
    width: 20%;
    height: 20%;
    padding: 2rem 1rem;
    color: skyblue;
  }

  .tweetsText {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 5px;
  }

  .infoContainer {
    margin-left: 20px;
    margin-top: 10px;
  }

  .locationAndLink {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
  }

  .subInfo {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .link {
    color: var(--twitter-color);
    cursor: pointer;
  }

  /* Popup background */
.avatarPopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

/* Popup box */
.avatarPopupContent {
  background: #fff;
  padding: 20px;
  width: 330px;
  border-radius: 12px;
  text-align: center;
}

/* Avatar choices */
.avatarOptions {
  display: flex;
  justify-content: space-around;
  margin: 15px 0;
}

.avatarChoice {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid transparent;
}

.avatarChoice:hover {
  border-color: #1da1f2;
}

/* Upload button */
.uploadBtn {
  display: inline-block;
  padding: 8px 14px;
  background: #1da1f2;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.avatarUploadInput {
  display: none;
}

/* Close button */
.closeAvatarPopup {
  margin-top: 10px;
  background: #aaa;
  color: white;
  padding: 6px 10px;
  border-radius: 8px;
  cursor: pointer;
}

.getLocationBtn {
  margin-top: 10px;
  width: 200px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: #1da1f2;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

